workflows/json/cve-slack-alerts.json
{
    "name": "CVE to Slack Alerts",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every 6 Hours",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
                "options": {
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "pubStartDate",
                                "value": "={{ $now.minus({hours: 6}).toISO() }}"
                            },
                            {
                                "name": "pubEndDate",
                                "value": "={{ $now.toISO() }}"
                            },
                            {
                                "name": "cvssV3Severity",
                                "value": "CRITICAL,HIGH"
                            }
                        ]
                    }
                }
            },
            "id": "nvd-api",
            "name": "Fetch CVEs from NVD",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json"
            },
            "id": "cisa-kev",
            "name": "Fetch CISA KEV",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Get CVEs from NVD response\nconst nvdData = $('Fetch CVEs from NVD').item.json;\nconst kevData = $('Fetch CISA KEV').item.json;\n\n// Create Set of KEV CVE IDs for quick lookup\nconst kevCveIds = new Set(\n  kevData.vulnerabilities?.map(v => v.cveID) || []\n);\n\n// Process CVEs\nconst cves = nvdData.vulnerabilities || [];\nconst alerts = [];\n\nfor (const item of cves) {\n  const cve = item.cve;\n  const cveId = cve.id;\n  \n  // Get CVSS score\n  const cvssData = cve.metrics?.cvssMetricV31?.[0] || \n                   cve.metrics?.cvssMetricV30?.[0];\n  const cvssScore = cvssData?.cvssData?.baseScore || 0;\n  const severity = cvssData?.cvssData?.baseSeverity || 'UNKNOWN';\n  \n  // Get description\n  const description = cve.descriptions?.find(d => d.lang === 'en')?.value || 'No description available';\n  \n  // Check if in KEV\n  const inKev = kevCveIds.has(cveId);\n  \n  alerts.push({\n    cveId,\n    cvssScore,\n    severity,\n    description: description.substring(0, 500),\n    inKev,\n    published: cve.published,\n    nvdLink: `https://nvd.nist.gov/vuln/detail/${cveId}`\n  });\n}\n\nreturn alerts.map(a => ({ json: a }));"
            },
            "id": "process-cves",
            "name": "Process & Enrich CVEs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter-severity",
                            "leftValue": "={{ $json.cvssScore }}",
                            "rightValue": 7,
                            "operator": {
                                "type": "number",
                                "operation": "gte"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "filter-critical",
            "name": "Filter Critical/High",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const cve = $json;\n\n// Create Slack Block Kit message\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `🚨 ${cve.severity} CVE Alert`,\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*${cve.cveId}*\\nCVSS Score: *${cve.cvssScore}* (${cve.severity})`\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: cve.description\n    }\n  },\n  {\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: cve.inKev ? '⚠️ *In CISA KEV* - Active exploitation confirmed!' : '📋 Not in CISA KEV'\n      }\n    ]\n  },\n  {\n    type: 'actions',\n    elements: [\n      {\n        type: 'button',\n        text: {\n          type: 'plain_text',\n          text: '🔗 View on NVD'\n        },\n        url: cve.nvdLink\n      }\n    ]\n  },\n  { type: 'divider' }\n];\n\nreturn {\n  json: {\n    blocks,\n    text: `New ${cve.severity} CVE: ${cve.cveId}`\n  }\n};"
            },
            "id": "format-slack",
            "name": "Format Slack Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ]
        },
        {
            "parameters": {
                "authentication": "webhook",
                "webhookUrl": "={{ $credentials.slackWebhookUrl }}",
                "blocksUi": "={{ JSON.stringify($json.blocks) }}",
                "text": "={{ $json.text }}"
            },
            "id": "slack-send",
            "name": "Send to Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                1320,
                0
            ],
            "credentials": {
                "slackWebhookApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Slack Webhook"
                }
            }
        }
    ],
    "connections": {
        "Every 6 Hours": {
            "main": [
                [
                    {
                        "node": "Fetch CVEs from NVD",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch CVEs from NVD": {
            "main": [
                [
                    {
                        "node": "Fetch CISA KEV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch CISA KEV": {
            "main": [
                [
                    {
                        "node": "Process & Enrich CVEs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process & Enrich CVEs": {
            "main": [
                [
                    {
                        "node": "Filter Critical/High",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Critical/High": {
            "main": [
                [
                    {
                        "node": "Format Slack Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Slack Message": {
            "main": [
                [
                    {
                        "node": "Send to Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "instanceId": "thehgtech-cve-alerts-v1.2.0"
    },
    "tags": [
        {
            "name": "Security",
            "id": "security"
        },
        {
            "name": "Alerting",
            "id": "alerting"
        },
        {
            "name": "Threat Intelligence",
            "id": "threat-intel"
        }
    ]
}